@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: #021D55;
  margin: 0px;
  color: #ffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #FFC300;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 25px;
  background: linear-gradient(-180deg, rgba(0, 15, 46, 1) 14%, rgba(2, 29, 85, 1) 100%);
  
}

header h1 {
  font-size: 23px;
  -webkit-text-stroke: 1px #0A317D; /* Borda no texto */
  paint-order: stroke fill;
  font-size: 26px;
}


nav {
  display: flex;
  padding: 10px;
  gap: 30px;
}

nav a {
  background-color: #facc15;
  padding: 10px;
  border-radius: 15px;
  color: #021D55;
  font-weight: bold;
  border: #ffff solid 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  background-color: #FFB936;
  color: #ffff;
}

/* ----------------------------------------------------- */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  align-items: center;
}

h2 {
  text-align: left;
  font-size: 28px;
}

form {
  background: linear-gradient(0deg,rgba(49, 89, 134, 1) 0%, rgba(2, 29, 85, 1) 100%);
  padding: 20px 150px 30px 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  border: #6b7daf solid 0.3px;
}

form h2 {
  text-align: left;
}

label {
  font-size: 21px;
  text-align: left;
}

input {
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: #021D55;
  border: #ffff solid 2px;
  font-size: 15px;
  color: #ffff;
  width: 300px;
}

button {
  padding: 10px;
  margin-top: 15px;
  background-color: #facc15;
  border-radius: 15px;
  font-weight: bold;
  border: #ffff solid 3px;
  color: #021D55;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #FFB936;
  color: #ffff;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #011641;
  margin-top: 8%;
}

/* ajustes coin*/

#coin {
  position: relative;
  vertical-align: -4px;
  left: -2px;
}